@import "../../style.scss";

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(6111, 175, 85, 0.5), rgba(111, 175, 85, 0.5)), url("https://images.pexels.com/photos/637076/pexels-photo-637076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
  background-size: cover;
  position: relative;

  .logoLogin {
    position: absolute;
    top: 20px;
    left: 50px;

    a {
      display: flex;
      align-items: center;
      margin-left: 2rem;

      img {
        width: 4rem;
      }

      .logoText {
        margin-left: 5px;
        color: black;
        font-size: 20px;
      }
    }

  }

  .cardRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8eb6a4;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    @include mobile{
      width: 15rem;
      height: 23rem;
    }

    h1 {
      margin-bottom: 3rem;
      font-size: 2.5rem;
      @include mobile{
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      input {
        width: 25rem;
        padding: 10px;
        border: none;
        border-radius: 5px;
        @include mobile{
          width: 80%;
        }

      }

      button {
        background-color: #090808;
        border-radius: 5px;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 18px;
        padding: 10px;
        width: 15rem;
        margin: 10px;
        @include mobile{
          width: 85%;
          font-size: 14px;
        }

      }
    }
  }
}