.containerN{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 3.5rem;
  top:3rem;
  background-color: white;
  margin-bottom: 30px;
  .logo{
    display: flex;
    a{
      display: flex;
      align-items: center;
      margin-left: 2rem;
      img{
        width: 2rem;
      }
      .logoText{
        margin-left: 5px;
        color: black;
      }
    }

  }
  .search{
    display: flex;
    gap:3px;
    margin-top: 10px;
    margin-left: 10rem;
    input{
      width: 15rem;
      padding: 0.5rem 0.5rem;
    }
    .btnSearch{
      color: white;
      background-color: black;
      cursor: pointer;
      border: none;
      padding: 0.6rem;
      width: 5rem;
      border-radius: 5px;

    }
  }
  .loginWrapper{
    margin-left: 15rem;
    margin-top:10px;
    gap:10px;
    display: flex;
    .navItem {
      display: flex;
      .navBtn {
        display: block;
        text-align: center;
        margin: 5px;
        cursor: pointer;
        text-decoration: none;
        background-color: #256b0d;
        padding: 5px;
        color: white;
        width: 8rem;
        border-radius: 3px;
      }
    }
    .logout{
      display: flex;
      justify-content: center;
      align-items: center;
      .logoutBtn {
        margin: 5px;
        cursor: pointer;
        background-color: white;
        color: #625d5d;
        width: 8rem;
        border-radius: 3px;
        padding: 10px 20px;
        border: 1px solid #a9a2a2;

      }
      p{
        color: #090808;
        border: 1px solid #a9a2a2;
        padding: 10px 15px;
        width: 8rem;
        text-align: center;
        border-radius: 5px;
      }
  }

  }
  .basket{
    margin-right: 5rem;
    margin-top:10px;
    gap:10px;
    display: flex;
    position: relative;
    img{
      margin-left: 4rem;
      width: 2.5rem;
      align-items: center;
      margin-top: 5px;
    }

    span{
      position: absolute;
      background-color: #8bbd7a;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      text-align: center;
      right:-5px;
     top:-3px;

    }
  }
}