.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(6111, 175, 85, 0.5), rgba(111, 175, 85, 0.5)), url("https://images.pexels.com/photos/514914/pexels-photo-514914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
  background-size: cover;
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ccd9c1;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    h1{
      margin-bottom: 3rem;
      font-size: 3rem;
    }
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:30px;
  input{
  width: 25rem;
    padding: 10px;
    border: none;
    border-radius: 5px;

  }
  button{
    background-color: #090808;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    width: 15rem;
    margin: 10px;

  }
}
  }
}