@import "../../style.scss";

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(6111, 175, 85, 0.5), rgba(111, 175, 85, 0.5)), url("https://images.pexels.com/photos/514914/pexels-photo-514914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
  background-size: cover;
  position: relative;

  .logoLogin{
    position: absolute;
    display: flex;
    top:20px;
    left: 50px;
    a{
      display: flex;
      align-items: center;
      margin-left: 2rem;
      img{
        width: 4rem;
      }
      .logoText{
        margin-left: 5px;
        color: black;
        font-size: 20px;
      }
    }

  }
  .cardLog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ccd9c1;
    width: 35rem;
    height: 35rem;
    border-radius: 10px;
    @include mobile{
      width: 12rem;
      height: 20rem;
    }
    @include tablet{
      width: 25rem;
      height: 30rem;
    }
    h1{
      margin-bottom: 4rem;
      font-size: 3rem;
      @include mobile{
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      @include tablet{
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:30px;
  input{
  width: 25rem;
    padding: 10px;
    border: none;
    border-radius: 5px;

    @include mobile{
      width: 80%;
    }
    @include tablet{
      width: 100%;
    }
  }
  button{
    background-color: #090808;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    width: 15rem;
    margin: 10px;
    @include mobile{
      width: 50%;
      font-size: 14px;
    }
    @include tablet{
      width: 80%;
      font-size: 18px;
    }

  }
}
  }
}